@tailwind base;
@tailwind components;
@tailwind utilities;


.sidebar {
    @apply p-3 flex flex-col space-y-3;

    > a {
        @apply flex flex-row space-x-4 rounded-md p-3 hover:bg-gray-200;

        &.selected {
            @apply bg-gray-200;
        }

        > div:last-child {
            @apply col-span-2 flex items-center text-lg font-semibold sm:block hidden;
        }


    }

    > div.section {
        @apply font-semibold text-lg mt-2 flex  items-center justify-between;

        > p {
          @apply text-sm md:text-base
        }

        > svg {
          @apply hidden sm:block;
        }
    }


}

.breadcrumbs {
    @apply bg-white flex flex-row py-1 px-3 space-x-2 text-sm font-semibold ;
     > div {

        @apply flex flex-row items-center space-x-2 hover:underline cursor-pointer; 
     }
}

h1, h2, h3, h4, h5 {

    @apply text-bulsca font-semibold mb-2;

    &.hmb-0 {
      @apply mb-0;
    }

}

h1 {
@apply text-5xl;
}

h2 {
@apply text-4xl;
}

h3 {
@apply text-3xl;
}

h4 {
@apply text-2xl;
}

h5 {
@apply text-xl;
}

 div.form-input {

    @apply flex flex-col mb-4;

   label {
    @apply mb-1;
   }

   input, select {
    @apply border-2 rounded-md py-2 px-4 shadow-sm focus:outline-none hover:border-bulsca focus:border-bulsca mb-4;

    &.file {
      @apply file:mr-4 file:py-2 file:px-4 file:rounded-md file:border-0 file:text-sm file:font-semibold  file:text-black hover:file:bg-gray-200 file:cursor-pointer cursor-pointer;
    }

    
   }


   > input {
    @apply  pt-[0.621rem] pb-[0.621rem];
   }

   > input[type=time] {
    @apply pb-[0.59rem] pt-[0.59rem];
   }

   > small {
    @apply text-red-500 pl-2 -mt-3;

    &.info {
      @apply text-gray-500;
    }
  }

  &.is-invalid {
    > input {
      @apply border-red-500;
    }
  }

   &.checkbox {
    @apply flex-row items-center space-x-6;

    > input {
      @apply mb-[0.1rem]
    }

   }
 }

 .btn {
    @apply py-2 px-6 text-center bg-green-500 hover:bg-green-600 transition-colors shadow-md text-white font-semibold rounded-md;

    &.btn-danger {
      @apply bg-red-500 hover:bg-red-600;
    }

    &.btn-primary {
      @apply bg-bulsca hover:bg-gradient-to-tr hover:from-bulsca hover:to-bulsca_red transition-all hover:scale-105;
    }

    &.btn-thin {
      @apply py-1;
    }

    &.btn-white {
      @apply bg-white text-black hover:bg-gray-400 hover:text-white cursor-pointer;
    }

    &.btn-purple {
      @apply bg-purple-700 hover:bg-purple-800;
    }

    &.btn-small {
      @apply text-base py-1 px-2 rounded-[4px];
    }
 }

 .card {
  @apply px-5 py-3 border shadow-md bg-white rounded-md flex flex-col transition-all;
  &.card-hover {
    @apply hover:shadow-lg hover:border-gray-300 focus:shadow-lg active:shadow-lg focus:border-gray-300 active:border-gray-300;
  }

  &.card-row {
    @apply md:flex-row flex-col;
  }

  &.selected {
    @apply bg-bulsca text-white;
  }

  &.card-bulsca {
    @apply bg-bulsca text-white text-center bg-gradient-to-br from-bulsca to-bulsca_red hover:bg-blend-lighten ;

    &.card-bulsca-red {
      @apply bg-bulsca_red to-bulsca from-bulsca_red;
    }

 
    * {
      @apply text-white;
    }

   
  }
  &.disabled {
    @apply bg-gray-400 cursor-not-allowed;
  }

  &.card-pad-y {
    @apply py-10;
  }

  &.card-pad-y-sm {
    @apply py-5;
  }
 }

 a.link, p.link {
  @apply text-blue-700 text-base font-semibold hover:underline cursor-pointer
 }

 .label-killer {

    div:not(:first-of-type) > div {
      label {
        display: none;
      }


    }
    div {
      margin-bottom: 0 !important;
     
    }
  
    div > div > input, div > div > select {
      margin-bottom:  0 !important;
    }

    div:first-of-type > svg {
      margin-top: 1.9em;
    }
    
  


 }

 .editable-table {
  tbody td, tbody th {
    @apply bg-gray-100
  }

  .table-input {
    @apply text-right py-4 px-6 bg-white text-black w-full;

    &.invalid {
      @apply border border-red-500;
    }
   }
 }


.alert-banner {
  @apply fixed -bottom-12 transition-all ease-in-out duration-500 left-0 w-screen bg-red-500 text-white font-semibold flex items-center text-lg justify-center p-2;

  &.active {
    @apply bottom-0;
  }

  &.success {
    @apply bg-green-500;
  }
}


.cross {
  @apply transition-all hover:rotate-90 cursor-pointer ease-in-out hover:text-red-500;
}

.mp-list {
  div:first-child > div > svg {
    @apply hidden;
  }
  div > div > svg {
    @apply mb-3;
  }
}

.grid-2 {
  @apply grid grid-cols-1 xl:grid-cols-2 gap-4;
}

.grid-3 {
  @apply grid grid-cols-1 xl:grid-cols-2 3xl:grid-cols-3 gap-4;
}

.grid-4 {
  @apply grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 3xl:grid-cols-4 gap-4;
}

.app-logo {
  @apply w-32 h-32;
}



.table-highlight {
  tr {
    @apply hover:bg-gray-200 transition-colors;
  }

  thead > tr > th {
    @apply sticky top-0 bg-gray-50;

    &:first-child {
      @apply left-0 z-20;
    }



    &[data-sortable] {
      &[reverse="false"]::after {
        content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke-width='1.5' stroke='currentColor' width='15px' height='15px'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M4.5 15.75l7.5-7.5 7.5 7.5' /%3E%3C/svg%3E%0A");
      }
      &[reverse="true"]::after {
        content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke-width='1.5' stroke='currentColor' width='15px' height='15px'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M19.5 8.25l-7.5 7.5-7.5-7.5' /%3E%3C/svg%3E%0A");;
      }
    }
  }

  tbody > tr > th, tbody > tr >td:first-child {
    @apply sticky left-0 bg-white
  }

  td {
    @apply hover:font-semibold hover:bg-gray-300 hover:text-black transition-colors;
  }

  tbody:not(.analysis) > tr.place-1 {
    background-color: gold !important;
    @apply text-black;

    td , th {
      background-color: gold !important;
      @apply text-black;
  
    }
  }

  tbody:not(.analysis) > tr.place-2 {
    background-color: silver !important;
    @apply text-black;
    td , th {
      background-color: silver !important;
      @apply text-black;
  
    }
  }

  tbody:not(.analysis) > tr.place-3, tbody:not(.analysis) > tr.place-3 > td {
    background-color: #cd7f32 !important;
    @apply text-black;

    td , th {
      background-color: #cd7f32 !important;
      @apply text-black;
  
    }
  }

  tbody.analysis {
    @apply text-black font-semibold
  }

  tbody:not(.analysis) {
    > tr > td {
      background-color: white !important
    }
  }
}

.provisional {
  @apply relative;
  background: url('/tile.png');


}

aside {
  @apply w-0 lg:w-auto;

  &.open {
    @apply w-auto;
  }
}

.mobile-nav-opener {
  @apply flex md:hidden;
}

.alert-box {
  @apply flex flex-col  bg-red-300 border-2 border-red-400 rounded-md p-4  text-red-700;

 
  h1 {
    @apply text-red-700 text-lg flex items-center fill-red-700;
    
    
  }

  h1::before {
    @apply w-6 h-6 mr-4;
   
    content: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke-width='1.5' stroke='rgb(185 28 28)' class='w-6 h-6 text-red-700'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M12 9v3.75m-9.303 3.376c-.866 1.5.217 3.374 1.948 3.374h14.71c1.73 0 2.813-1.874 1.948-3.374L13.949 3.378c-.866-1.5-3.032-1.5-3.898 0L2.697 16.126zM12 15.75h.007v.008H12v-.008z' /%3E%3C/svg%3E");
  }

  a {
    @apply underline text-red-800;
    &:hover {
      @apply text-red-900;
    }
  }

  &.alert-warning { 

    @apply bg-yellow-50 border-yellow-300 text-yellow-800;

    h1 {
      @apply text-yellow-800;
    }
    h1::before {
      content: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="rgb(105 62 24)" class="w-6 h-6"><path stroke-linecap="round" stroke-linejoin="round" d="M11.25 11.25l.041-.02a.75.75 0 011.063.852l-.708 2.836a.75.75 0 001.063.853l.041-.021M21 12a9 9 0 11-18 0 9 9 0 0118 0zm-9-3.75h.008v.008H12V8.25z" /></svg>');
    }
  }


}